@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Roboto",sans-serif;
}


::-webkit-scrollbar {
  width: 8px;            
}

::-webkit-scrollbar-track {
  background: #101828;   
}

::-webkit-scrollbar-thumb {
  background: #1F2937;   
  border-radius: 10px;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #1F2937 #0D1117; 
}